DB_URL=
DB_USERNAME=
DB_PASSWORD=
CLOUDINARY_IMAGES_URL=
PORT=8080
JWT_SECRET=
JWT_EXPIRATION=86400000
PLAN_PREMIUM_CUSTOMER_ID=
PLAN_PREMIUM_COMPANY_ID=
STRIPE_PRIVATE_KEY=
EMAIL_USERNAME=
EMAIL_PASSWORD="aaaa bbbb cccc dddd"